<% if model.errors.any? %>
  <div class="error-messages">
    <% model.errors.full_messages.each do |message| %>
      <li class="alert alert-danger">
        <%= message %>
      </li>
    <% end %>
  </div>
<% end %>
